<%# Tag Button Partial %>
<div class="btn-group">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: <%= tag.tag_bg %>; color: black; border: 1px solid black;">
    <%= tag.name %>
  </button>
  <ul class="dropdown-menu">
    <%# Update other dropdown items to be a form. Updates and Post requests. %>
    <li>
      <%= form_tag(tag_path(tag), method: :patch, data: { controller: "colors" }) do %>
        <div class="dropdown-item">
          <%= submit_tag "Update" %>
        </div>
      <% end %>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Match to this Color</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Make this Tag a "Shared Tag"</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Delete (Can't Be Undone!)</a></li>
  </ul>
</div>
